<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>705962135776-q2kfo2jo023m9l223iqi84sgnoe4fhbp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705962135776-q2kfo2jo023m9l223iqi84sgnoe4fhbp</string>
	<key>API_KEY</key>
	<string>AIzaSyBhZ2TTz0f1sb0pu5IVdxMRH875lAHGeZc</string>
	<key>GCM_SENDER_ID</key>
	<string>705962135776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.thegoodword</string>
	<key>PROJECT_ID</key>
	<string>the-good-word</string>
	<key>STORAGE_BUCKET</key>
	<string>the-good-word.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705962135776:ios:e4eb7a962ac0f767</string>
	<key>DATABASE_URL</key>
	<string>https://the-good-word.firebaseio.com</string>
</dict>
</plist>