page-detail {

}

.toolbar-background {
    background-color: #e0af5d
}

.details {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
    margin-bottom: 1%;
    h2 {
        color: #eaaa00;
    }
    p {
        color: #ffffff;
    }
}